

.checkout-container{
    margin: 10% 0;
  
}


.subtitle-checkout{
    margin: 3%;
    padding-left: 11%;

    color: white;
    font-size: 2.5rem;
}

form{
    margin-left: 26%;
    width: fit-content;
}

.input-form{
    margin: 2%;
    height: 2rem;
}

label{
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}

.upload{
    margin: 2% 0 0 42%;
    padding: 5px;

    font-size: 15px;
    font-weight: bold;
    
    border-radius: 6px;
    border: 0;
    outline: 0;

    cursor: pointer;
    background-color:#6930C3;
    color: white;
}

.end-container{
    margin-top: 10%;
}

.end-text{
    margin-top: 10px;
    text-align: center;

    color: white;
}


@media all and (max-width: 425px){
    .subtitle-checkout{
        padding: 0;
    }

    form{
        margin: auto;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        

        
    }

    label{
        padding-left: 0;
    }

    .upload{
        margin: 15% 0;
    }

}