.benefits-container{
    width: 100%;
    margin: 6% 12%;

    display: flex;
    justify-content: space-around;
    

}

.benefits{
    height: 16%;
    width: 16%;
    text-align: center;

    
}

.subtitle-benefits{
    margin: 6% 0;
    color: white;
}

.benefits svg{
    outline: 0;
    border-radius: 50%;
    padding: 16%;

    background-color: #6930C3;
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
}

@media all and (max-width: 425px){
    .benefits-container{
        margin: 6% 0;
    }

    .benefits{
        width: 20%;
    }

    .benefits svg{
        font-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
    }


}